# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **religious events or traditions** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairo’s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **religious events or traditions**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **religious events or traditions**?  For this category you might consider calendar events, demographic data about religion in the region and neighboring regions, participation in religious events, or how religious events relate to political events, social movements, or historical events.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [ ]:
t20_series = pd.read_csv("t20_series.csv")
t20_matches = pd.read_csv("t20_matches.csv")

In [ ]:
start_year = 2008

def inc_season(x):
    global start_year
    x = str(start_year)
    start_year += 1
    return x

def clean_t20_series():
    df = t20_series[(t20_series["series"] == "Indian Premier League (in India)") | (t20_series["series"] == "Indian Premier League (in South Africa)") | (t20_series["series"] == "Pepsi Indian Premier League (in India)") | (t20_series["series"] == "Pepsi Indian Premier League (in India/United Arab Emirates)")]
    df = df.drop(labels=["margin"], axis=1)
    df["season"] = df["season"].apply(inc_season)
    return df

In [ ]:
def get_series_id():
    df = clean_t20_series()
    series_id = df["series_id"].tolist()
    return series_id

In [ ]:
remove_row = []
row_counter = 0

def remove_columns(x):
    global row_counter
    global remove_row
    if x.find("Match abandoned without a ball bowled") != -1 or x.find("No result") != -1:
        remove_row.append(row_counter)
    row_counter += 1
    return 

def clean_t20_matches():
    global remove_row
    series_id = get_series_id()
    df = t20_matches
    df = df[df["series_id"].map(lambda x:x in series_id)]
    df["winner"].apply(remove_columns)
    df = df.drop(df.index[remove_row])
    
    keep_col = [
        "match_id",
        "series_id",
        "date",
        "winner"
    ]
    df = df[keep_col]
    df["year"] = df["date"].apply(lambda x:x[-4:])
    df = df.drop(labels=["date"], axis=1)
    return df

In [ ]:
df_match = clean_t20_matches()
df_series = clean_t20_series()

In [ ]:
def get_teams():
    results = df_match["winner"]
    teams = results.tolist()
    teams = set(teams)
    return teams

In [ ]:
new_series = df_match[["year", "winner"]].groupby(by=["year", "winner"]).size()
new_df = pd.DataFrame()
new_df["wins"] = new_series
new_df = new_df.reset_index()
teams = new_df.groupby(by=["year"])["winner"].size()
teams = teams.tolist()

In [234]:
start_year = 2008
def my_func(x):
    total_matches = teams[int(x[0]) - start_year] * 2
    return x[2] / total_matches

new_df["win_ratio"] = new_df.apply(my_func, axis=1)

    year                       winner  wins  win_ratio
0   2008          Chennai Super Kings     9   0.562500
1   2008              Deccan Chargers     2   0.125000
2   2008             Delhi Daredevils     7   0.437500
3   2008              Kings XI Punjab    10   0.625000
4   2008        Kolkata Knight Riders     6   0.375000
5   2008               Mumbai Indians     7   0.437500
6   2008             Rajasthan Royals    13   0.812500
7   2008  Royal Challengers Bangalore     4   0.250000
8   2009          Chennai Super Kings     8   0.500000
9   2009              Deccan Chargers     9   0.562500
10  2009             Delhi Daredevils    10   0.625000
11  2009              Kings XI Punjab     7   0.437500
12  2009        Kolkata Knight Riders     3   0.187500
13  2009               Mumbai Indians     5   0.312500
14  2009             Rajasthan Royals     6   0.375000
15  2009  Royal Challengers Bangalore     9   0.562500
16  2010          Chennai Super Kings     9   0.562500
17  2010              Deccan Chargers     8   0.500000
18  2010             Delhi Daredevils     7   0.437500
19  2010              Kings XI Punjab     4   0.250000
20  2010        Kolkata Knight Riders     7   0.437500
21  2010               Mumbai Indians    11   0.687500
22  2010             Rajasthan Royals     6   0.375000
23  2010  Royal Challengers Bangalore     8   0.500000
24  2011          Chennai Super Kings    11   0.550000
25  2011              Deccan Chargers     6   0.300000
26  2011             Delhi Daredevils     4   0.200000
27  2011              Kings XI Punjab     7   0.350000
28  2011         Kochi Tuskers Kerala     6   0.300000
29  2011        Kolkata Knight Riders     8   0.400000
..   ...                          ...   ...        ...
50  2013  Royal Challengers Bangalore     9   0.500000
51  2013          Sunrisers Hyderabad    10   0.555556
52  2014          Chennai Super Kings    10   0.625000
53  2014             Delhi Daredevils     2   0.125000
54  2014              Kings XI Punjab    12   0.750000
55  2014        Kolkata Knight Riders    11   0.687500
56  2014               Mumbai Indians     7   0.437500
57  2014             Rajasthan Royals     7   0.437500
58  2014  Royal Challengers Bangalore     5   0.312500
59  2014          Sunrisers Hyderabad     6   0.375000
60  2015          Chennai Super Kings    10   0.625000
61  2015             Delhi Daredevils     5   0.312500
62  2015              Kings XI Punjab     3   0.187500
63  2015        Kolkata Knight Riders     7   0.437500
64  2015               Mumbai Indians    10   0.625000
65  2015             Rajasthan Royals     7   0.437500
66  2015  Royal Challengers Bangalore     8   0.500000
67  2015          Sunrisers Hyderabad     7   0.437500
68  2016             Delhi Daredevils     7   0.437500
69  2016                Gujarat Lions     9   0.562500
70  2016              Kings XI Punjab     4   0.250000
71  2016        Kolkata Knight Riders     8   0.500000
72  2016               Mumbai Indians     7   0.437500
73  2016      Rising Pune Supergiants     5   0.312500
74  2016  Royal Challengers Bangalore     9   0.562500
75  2016          Sunrisers Hyderabad    11   0.687500
76  2017              Kings XI Punjab     1   0.125000
77  2017        Kolkata Knight Riders     1   0.125000
78  2017       Rising Pune Supergiant     1   0.125000
79  2017          Sunrisers Hyderabad     1   0.125000

[80 rows x 4 columns]